body
{
	color: #004d40;
}

.imagen
{
	background: url(imagenes/gamer.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	/*border-width: 2px;
	border-style: solid;
	border-color: none;*/
}

h1
{
	background-color:#9c27b0; 
	border-width:5px;
}

.rojito
{
	color: #f44336;
}

.azul
{
background-color: #90caf9;
border-width: 5px}

.amarillo
{
background-color: #eeff41;
border-width: 5px}

.rojo
{
background-color: #f44336;
border-width: 5px}

.verde
{
background-color: #64dd17;
border-width: 5px}

.footer
{
	background-color: #1de9b6;
	border-width: 5px
}
